[Unit]
Description=Block usage of LUKS Default Password
After=local-fs.target systemd-udev-settle.service mender-luks-tpm-key-watcher.path
Requires=local-fs.target systemd-udev-settle.service

[Service]
Type=oneshot
TimeoutStartSec=300

ExecCondition=@@sbindir@@/mender-luks-util.sh validate --password "@@MENDER/LUKS_PASSWORD@@"
ExecStart=@@sbindir@@/mender-luks-util.sh password --random

[Install]
WantedBy=multi-user.target
