[Unit]
Description=mender-luks Password Agent
DefaultDependencies=no
Conflicts=shutdown.target
Before=cryptsetup-pre.target sysinit.target shutdown.target

[Service]
ExecStart=@@sbindir@@/mender-luks-password-agent

LoadCredential=@@MENDER/LUKS_SYSTEMD_INITRD_CREDENTIALS_VAR@@
