[Unit]
Description=Write new key into TPM
After=data.mount local-fs.target systemd-modules-load.service
Requires=data.mount local-fs.target systemd-modules-load.service
ConditionPathExistsGlob=/dev/tpm*

[Service]
Type=oneshot
ExecStart=@@sbindir@@/mender-luks-tpm2-util.sh --write

Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
