[Unit]
Description=Seal new key to TPM
After=data.mount local-fs.target systemd-modules-load.service mender-luks-tpm-seal-on-boot.service
Requires=data.mount local-fs.target systemd-modules-load.service
ConditionPathExistsGlob=/dev/tpm*

[Service]
Type=oneshot
ExecStart=@@sbindir@@/mender-luks-tpm2-util.sh --write

Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
