[Unit]
Description=Seal TPM on Boot
After=data.mount multi-user.target systemd-modules-load.service @@MENDER/LUKS_SEAL_SYSTEMD_AFTER@@
Requires=data.mount multi-user.target systemd-modules-load.service @@MENDER/LUKS_SEAL_SYSTEMD_AFTER@@
ConditionPathExistsGlob=/dev/tpm*

[Service]
Type=oneshot
ExecStartPre=@@base_bindir@@/sleep @@MENDER/LUKS_SEAL_DELAY_SECS@@
ExecStart=@@sbindir@@/mender-luks-tpm-seal-on-boot.sh

TimeoutSec=infinity

Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
