[Unit]
Description=Seal TPM on Boot
After=multi-user.target @@MENDER/LUKS_SEAL_SYSTEMD_AFTER@@
Requires=multi-user.target @@MENDER/LUKS_SEAL_SYSTEMD_AFTER@@
ConditionPathExistsGlob=/dev/tpm*

[Service]
Type=simple
ExecStart=@@sbindir@@/mender-luks-tpm-seal-on-boot.sh

TimeoutSec=infinity

Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
